* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  margin: 0;
  background-color: rgb(101, 101, 101);
  /* 
  display: flex;
  justify-content: flex-end; */
}

img {
  display: block;
  float: center;
  width: 1000px;
  height: 600px;
  /* centrar imagen responsively */
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);  
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.main-header {
  padding: 0 20px;
}

.main-header__title {
  text-align: center;
  font-size: 2.5em;
  margin: 10px 0;
  color: #453456;
}

.main-nav {
  display: none;
}

.nav-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-menu {
  font-size: 1.5em;
  border: 1px solid #454456;
  display: block;
  padding: 10px 20px;
}

li {
  display: inline;
  position: relative;
}

/* DROPDOWN NAVBAR */
.dropdown {
  position: absolute;
  display: block;
  background: #080808;
  top: 140%;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  border-radius: 1px;
}

li a i {
  font-size: 12px;
  margin-left: 10px;
}

.dropdown-link:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.main-header__container {
  display: block;
  padding: 10px 20px;
  border: 1px solid #454546;
  text-decoration: none;
}

.main-header__input {
  display: block;
  padding: 10px;
}

.dropdown {
  position: absolute;
  display: block;
  background: #080808;
  top: 140%;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  border-radius: 1px;
}

/* Nav */
.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar {
  height: 60px;
  display: grid;
  background: #080808;
  position: relative;
  width: 100%;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
}

/* LOGO */
.logo {
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 15px;
}

.logo h1 a {
  color: #fff;
}

.logo i {
  display: none;
}

/* End logo  */

/* Menu */
ul {
  display: flex;
  align-items: center;
}

li {
  display: flex;
  position: relative;
  transition: 0.15s;
}

li a {
  padding: 15px 30px;
  color: #fff;
  transition: 0.2s;
}

li a:hover {
  color: #8b0000;
}

li:hover {
  background-color: #2f2f2f;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  display: block;
  background: #080808;
  top: 130%;
  border-radius: 4px;
  width: 200px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}


/* End menu */

/* Account End */
.text-top {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* CONTAINER */
.container {
  padding: 20px;
  width: 100%;
  text-align: center;
}

footer{
  font-size: smaller;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: aliceblue;

}

